.divColumn {
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cl1 {
    width: 80%;
    height: 25px;
    background-color: #dfdfdf;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(180deg, #F9F6EE 0%, #fff 100%);
}

.cl2 {
    width: 65%;
    height: 15px;
    background-color: #dfdfdf;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 4px;
    background: linear-gradient(180deg, #F9F6EE 0%, #fff 100%);
}

.cl3 {
    width: 55%;
    height: 7px;
    background-color: #dfdfdf;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 5px;
    margin-top: 4px;
    background: linear-gradient(180deg, #F9F6EE 0%, #fff 100%);
}

.vertical1 {
    display: flex;
    justify-content: space-evenly;
    width: 58%;
}

.vertical1 div {
    width: 10px;
    height: 40px;
    background-color: #dfdfdf;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(180deg, #F9F6EE 0%, #fff 100%);
}

.cl4 {
    width: 55%;
    height: 5px;
    background-color: #dfdfdf;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 5px;
    margin-top: 4px;
    background: linear-gradient(45deg, #F9F6EE 0%, #fff 100%);
    /* background-color: #F9F6EE; */
}

.cl5 {
    width: 60%;
    height: 9px;
    background-color: #dfdfdf;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 5px;
    margin-top: 4px;
    background: linear-gradient(180deg, #F9F6EE 0%, #fff 100%);
}

.vertical2 {
    display: flex;
    justify-content: space-evenly;
    width: 58%;
}

.vertical2 div {
    width: 10px;
    height: 170px;
    background-color: #dfdfdf;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    background: linear-gradient(180deg, #F9F6EE 0%, #fff 100%);
}

@media (max-width: 768px) {
    .divColumn {
        display: none;
    }
}