.divAboutMe {
    padding: 0 3vw;
    background-color: #fff;
    height: calc(100% - 140px);
    display: flex;
    flex-direction: column;
}

.divAboutMe h2 {
    font-size: 2.3rem;
    margin-bottom: 0;
    font-weight: bolder;
    margin-top: 0;
}

.divAboutMe div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 7vh;
    margin-top: 4vh;
}

.divAboutMe p {
    font-size: 1.3rem;
    text-align: justify;
    color: #fff;
    background-color: #00264D;
    border-radius: 14px;
    padding: 3vh 3vw 3vh 3vw;
}

.divAboutMe section {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
}

.p1 {
    width: 40%;
    margin-top: 0;
}

.p2 {
    height: fit-content;
}

@media (max-width: 1024px) {
    .divAboutMe p {
        text-align: center;
        line-height: 5vh;
    }
}

@media (max-width: 768px) {
    .divAboutMe p {
        font-size: 1.2rem;
        line-height: 1.7;
    }

    .divAboutMe h2 {
        font-size: 2.2rem;
    }
}

@media (max-width: 600px) {

    .divAboutMe div {
        flex-direction: column;
    }

    .divAboutMe h2 {
        text-align: center;
    }

    .p1 {
        width: 94%;
        margin-bottom: 0;
    }

    .divAboutMe section {
        width: 100%;
    }
}

@media (max-width: 425px) {

    .divAboutMe {
        align-items: center;
        justify-content: center;
    }

    .divAboutMe h2 {
        width: 60%;
        text-align: center;
    }
}