.logoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    /* border: 1px solid black; */
    position: relative;
}


.logoDiv span {
    font-size: 5rem;
    background: -webkit-linear-gradient(#051937, #12A8EB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoDiv p {
    font-size: 0.6rem;
    position: absolute;
    font-weight: bold;
    bottom: 0;
}