.header {
    height: 140px;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: flex-end;
}

.header h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    background: -webkit-linear-gradient(#051937, #12A8EB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 3vw;
}

.min-width-title{
    font-size: 1.5rem;
    font-family: 'HACKED', sans-serif;
    letter-spacing: 3px;
    background: -webkit-linear-gradient(#051937, #12A8EB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    place-items: center;
}


@media (max-width: 740px) {

    .header {
        justify-content: space-between;
        margin: 0 20px;
    }

    .header button{
        background-color: #fff;
        border: none;
    }

    .fa-bars {
        font-size: 3rem;
        background-color: #f6f6f6;
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: rgb(0, 43, 82);
    }

    .fa-bars:hover{
        color: #fff;
        background-color: rgba(18, 168, 235,.6);
    }

    .header h1 {
        font-size: 2rem;
    }

    .logoHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logoHeader span {
        font-size: 5rem;
        background: -webkit-linear-gradient(#051937, #12A8EB);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: -40px;
    }

    .logoHeader p {
        font-size: 0.5rem;
    }
}

@media (min-width: 741px) {
    .fa-bars {
        display: none;
    }

    .logoHeader {
        display: none;
    }

    .header button{
        display: none;
    }
}

@media (max-width: 520px) {
    .header h1{
        font-size:1.3rem;
    }
    
    .header{
        justify-content: space-around;
    }
}

@media (max-width: 415px) {
    .header h1{
        font-size:.9rem;
    }
}

@media (min-width: 481px) {
    .min-width-title{
        display: none;
    }
}

@media (max-width: 430px) {
    .min-width-title{
        display: none;
    }
}

@media (max-width: 480px) {
    .header h1 {
        display: none;
    }
}