@media (max-width: 768px) {
    .divProjectsScroll {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 400px;
    }
}

@media (min-width: 769px) {
    .divProjectsScroll {
        display: none;
    }
}

