.divProjectsScroll {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

@media (max-width: 768px) {
    .divProjectsScroll {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}


