.carousel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.carousel-img {
    border-radius: 15px;
    height: 450px;
    opacity: 0.3;
    transition: 1s ease;
    width: 450px;
}

.carousel-img:hover {
    opacity: 1;
}


.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    align-items: center;
    background-color: black;
    border-radius: 15px;
    display: inline-flex;
    justify-content: center;
    position: relative;
    transition: 1s ease;
    white-space: normal;
    border: #002b52 1px solid;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.carousel-item:hover{
    transform: scale(1.1);
}


.carousel-title {
    position: absolute;
    top: 0px;
    right: 20px;
    padding: 10px;
    border-radius: 14px;
    color: #fff;
    font-weight: 600;
    border: 2px white solid;
    background-color: #002b52;
    background: linear-gradient(45deg, #002b52 0%, #12A8EB 100%);
}

.carousel-description {
    position: absolute;
    color: #fff;
    font-weight: lighter;
    background-color: #002b52;
    background: linear-gradient(45deg, #002b52 0%, #12A8EB 100%);
    bottom: 10px;
    right: 20px;
    width: 60%;
    text-align: justify;
    padding: 10px;
    border-radius: 14px;
    border: 2px white solid;
    font-size: .8rem;
}

.carousel-description a {
    color: #fff;
    font-size: 1.4rem;
}

.div-buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.dots {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dots button {
    background-color: #fff;
    color: #002b52;
    border: none
}

.fa-circle:hover {
    color: #12A8EB;
}

.active-symbol {
    color: #12A8EB;
}

.carousel-arrow {
    background-color: #fff;
    color: black;
    border: none;
}

.fa-circle-chevron-left,
.fa-circle-chevron-right {
    font-size: 2rem;
}

.fa-circle-chevron-left:hover,
.fa-circle-chevron-right:hover {
    color: #002b52;
}

@media (max-width: 1024px) {
    .carousel-description {
        font-size: .9rem;
    }

    .carousel-img {
        width: 400px;
        height: 400px;
    }

    .carousel-item {
        height: 400px;
    }
}

@media (max-width: 768px) {
    .carousel {
        display: none;
    }

    .carousel-description {
        width: 50%;
        font-size: .7rem;
    }

    .carousel-title {
        width: 40%;
        font-size: .9rem;
    }
}

@media (max-width: 480px) {

    .carousel-img {
        width: 350px;
        height: 350px;
    }

    .carousel-item {
        height: 350px;
    }

    .carousel-description {
        font-size: .6rem;
    }

    .carousel-description a {
        font-size: 1rem;
    }
}