.carousel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.carousel-img {
    padding: 0 20px;
    width: 100%;
    height: 600px;
    opacity: 0.3;
}

.carousel-img:hover {
    opacity: 1;
}


.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: black;
    position: relative;
    white-space: normal;
    border: 4px #e5e7eb solid;
}


.carousel-title {
    position: absolute;
    top: 0px;
    right: 20px;
    padding: 10px;
    border-radius: 14px;
    color: #fff;
    font-weight: 600;
    border: 2px white solid;
    background-color: #002b52;
    background: linear-gradient(45deg, #002b52 0%, #12A8EB 100%);
}

.carousel-description {
    position: absolute;
    color: #fff;
    font-weight: 600;
    background-color: #002b52;
    background: linear-gradient(45deg, #002b52 0%, #12A8EB 100%);
    bottom: 10px;
    right: 20px;
    width: 30%;
    text-align: justify;
    padding: 10px;
    border-radius: 14px;
    border: 2px white solid;
}

.carousel-description a {
    color: #fff;
    font-size: 1.4rem;
}

.div-buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.dots {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dots button {
    background-color: #fff;
    color: #002b52;
    border: none
}

.fa-circle:hover {
    color: #12A8EB;
}

.active-symbol {
    color: #12A8EB;
}

.carousel-arrow {
    background-color: #fff;
    color: black;
    border: none;
}

.fa-circle-chevron-left,
.fa-circle-chevron-right {
    font-size: 2rem;
}

.fa-circle-chevron-left:hover,
.fa-circle-chevron-right:hover {
    color: #002b52;
}

@media (max-width: 1024px) {
    .carousel-description {
        width: 40%;
    }

    .carousel-img {
        height: 477px;
    }

    .carousel-item {
        height: 477px;
    }
}

@media (max-width: 768px) {
    .carousel {
        display: none;
    }

    .carousel-description {
        width: 50%;
        font-size: .7rem;
    }

    .carousel-title {
        width: 25%;
        font-size: .8rem;
    }

    .carousel-img {
        height: 400px;
    }

    .carousel-item {
        height: 400px;
    }
}